// Global styles

* {
    box-sizing: border-box;
    line-height: 1.5;
}


body{
    background-color: @medium-purple;
}

button.base.navigation-back-button.icon.icon-controls-small-left{
    display: none;
}

button.base.navigation-drawer-toggle-button.icon.icon-list{
    display: none;
}

// Header Section
div.page-header-inner.clearfix{
    background-image: url('course/en/images/bg.jpg');
    background-size: cover;
    min-height: 95vh;
}


div.page-header-content-inner{
    padding-top: 15rem;
    color: @medium-purple;
    
}

div.page-title-inner{
    font-weight: 100;
    font-size: 48px
}

div.page-body-inner{
    
    font-weight: 100;
    font-size: 28px;
    padding-top: 2rem;
}

div.page-instruction-inner{
    font-weight: 100;
    font-size: 38px;
}


// Section 1 Styles

div.block.b-05.nth-child-1.completed{
    background-color: @primary-color;
}

div.text-inner.component-inner{
    background-color: rgba(0, 0, 0, 0);
    font-size: 28px;
    color: @white;
    padding-top: 0;
    font-weight: 100;
}

div.text-instruction-inner.component-instruction-inner{
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    padding-top: 1rem;
}

// Section 2 Styles - Hotgraphic

div.hotgraphic-inner.component-inner{
    background-color: rgba(0, 0, 0, 0);
}

div.hotgraphic-popup-count.component-item-text-color{
    color: white;
    font-size: 20px;
}

div.hotgraphic-content-title {
    font-size: 28px!important;
    font-weight: 700!important;
    color: @primary-color;
}

div.hotgraphic-content-body {
    font-size: 20px;
    line-height: 1.5;
    color: @primary-color;
}
div.hotgraphic-content-body span {
    font-weight:100;
}

div.hotgraphic-item-content-inner{
    min-width: 60%;
}


// Section 3 - The team
div.block.b-15{
    background-color: @primary-color;
}

div.gmcq-inner.component-inner{
    background-color: rgba(0, 0, 0, 0);
}

div.graphic-inner.component-inner{
    background-color: rgba(0, 0, 0, 0)
}

// Experimental
div.block.b-20.nth-child-4{
    background-color: @white;
}

div.graphic-widget.component-widget{
    text-align: center;
    padding-bottom: 0;
}

div.block.b-25{
    background-color: @primary-color;
}
div.block.b-25.graphic-inner.component-inner{
    transform: scale(0.5);
}

div.block.b-30{
    background-color: @white;
}

div.block.b-35{
    background-color: @primary-color;
}

div.block.b-40{
    background-color: @white;
}

div .block .block-inner {
    min-width: 1200px;
}


div .block .white .text-inner{
    color: @primary-color;
}
div .block .text-inner{
    min-width: 600px;
    
}

// image + text align
div .block .aura-presentation{
    padding-top: 1rem;
}

div .block .alexandra-presentation{
    padding-top: 5rem;
}

div .block .alin-presentation{
    padding-top: 4rem;
}

div .block .dan-presentation{
    padding-top: 5rem;
}

div .block .cosmin-presentation{
    padding-top: 5rem;
}

div .block .meet-the-team{
    text-align: center;
}

div .block .purple-icon{
    color: @primary-color;
}

div .block .white-icon{
    color: @white;
}
