// Global styles

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: @medium-purple;
}

button.base.navigation-back-button.icon.icon-controls-small-left{
    display: none;
}

button.base.navigation-drawer-toggle-button.icon.icon-list{
    display: none;
}

// Header Section
div.page-header-inner.clearfix{
    background-image: url('course/en/images/bg.jpg');
    background-size: cover;
    min-height: 95vh;
}

div.page-header-content-inner{
    padding-top: 20rem;
}


