// Global styles

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
body{
    background-color: @medium-purple;
}

button.base.navigation-back-button.icon.icon-controls-small-left{
    display: none;
}

button.base.navigation-drawer-toggle-button.icon.icon-list{
    display: none;
}

// Header Section
div.page-header-inner.clearfix{
    background-image: url('course/en/images/bg.jpg');
    background-size: cover;
    min-height: 95vh;
}


div.page-header-content-inner{
    padding-top: 20rem;
    color: @medium-purple;
    
}

div.page-title-inner{
    font-weight: 400;
    font-size: 48px
}

div.page-body-inner{
    
    font-weight: 300;
    font-size: 38px;
}

div.page-instruction-inner{
    font-weight: 200;
    font-size: 28px;
}




